.all{
    display: grid;
    grid-template-rows: 0.5fr 3fr 1.5fr;
    grid-template-areas: "header" "body" "footer";
    gap: 2px;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.header{
    display: grid;
    grid-template-rows: 2fr 3fr;
    grid-template-areas: "container1" "navigation";
    gap: 3px;
    background-color: black;
}
a{
    text-decoration: none;
}
.container1{
    display: flex;
}
.container1 a{
    text-decoration: none;
    font-weight: bold;
    float: right;
}
.container1 div{
    margin-left: 20px;
}
.navigation{
    display: flex;
    justify-content: right;
}
.navigation a{
    display: block;
    padding: 0.1em;
    margin: 0.2em;
    background-color: black;
    text-decoration: none;
    float: right;
}
.navigation a:hover{
    background-color: red;
}
.navigation a:active{
    background-color: red;
}

h1{
    font-size: x-large;
}

.body{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "div-1" "div-2" "div-3""div-4";
    gap: 2px;
    margin-left: 50px;
    margin-right: 100px;
}
body{
    border: 1px solid white;
    margin: 0;
}


.footer{
    display: grid;
    grid-template-rows: 1fr 2.5fr;
    grid-template-areas: "intro" "contact";
    gap: 2px;
    color: white;
    background-color: black;
}
.intro{
    font-weight: bold;
    font-size: 20px;
}
.contact{
    display: flex;
    text-decoration: none;
}
#box-1{
    flex: 1;
    display: grid;
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-areas: "box-11" "box-12";
    gap: 2px;
}
#box-2{
    flex: 1;
    display: grid;
    grid-template-rows:  0.5fr 1.5fr;
    grid-template-areas: "box-21" "box-22";
    gap: 2px;
}
#box-3{
    flex: 1.5;
    display: grid;
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-areas: "box-31" "box-32";
    gap: 2px;
}
#box-31{
    padding: 0;
}
#box-32{
    display: flex;
}
#div1{
    flex: 1;
}
#div2{
    flex: 1;
}
a:link{
    color: #9e9eff;
}
a:hover{
    color: yellow;
}
a:active{
    color: cyan;
}
a:visited{
    color: magenta;
}

@media only screen and (max-width: 550px) {
    .all{
        display: grid;
        grid-template-rows: 0.5fr 2.5fr 2fr;
        grid-template-areas: "header" "body" "footer";
        gap: 2px;
    }
    .header{
        display: grid;
        grid-template-rows: 2fr 3fr;
        grid-template-areas: "container1" "navigation"
    }
    .navigation{
        justify-content: left;
    }
    h1{
        font-size: 25px;
        text-align: center;
        padding-top: 10px;
    }
    .footer{
        display: grid;
        grid-template-rows: 0.5fr 2.5fr;
        grid-template-areas: "intro" "contact";
        gap: 2px;
    }
    .contact{
        display: block;
    }#box-32{
        display: block;
    }
}
